/* General */
@import url(https://fonts.googleapis.com/css?family=Yellowtail&display=swap);
@import url(https://fonts.googleapis.com/css?family=Varela&display=swap);

body{
    background-color: white;
}
a{
    text-decoration: none;
    color:black;
}
/* ID */

/* Class */
.wrapper{
    width:1240px;
    height:1024px;
    border:1px solid red;
}
/* Шапка */
.Header{
    width:100%;
    height:50px;
}
/* Logo */
.Logo{
    width:7%;
    height:30px;
    margin-left:7%;
    margin-top:12px;
    font-family: Yellowtail;
    font-size: 26pt;
    text-align: center;
    cursor: pointer;

}
/* Menu */
.Menu{
    float:right;
    width:50%;
    height:50px;
    margin-top: -30px;
    margin-right: 20px;
    font-family: Varela;

}
/* Кнопки меню */
.btnAbout, .btnContact, .btnCatalog, .btnBlog{
    width:17%;
    height: 34px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top:6px;
    color: #9b9b9b;
}
/* Тексты в кнопках */
.txtAbout, .txtContact, .txtCatalog, .txtBlog, .txtSignin{
    margin-top:5px;
}
/* Действия при наведении мыши на кнопки */
.btnAbout:hover, .btnContact:hover, .btnCatalog:hover, .btnBlog:hover{
    background-color: #9b9b9b;
    color:white;
    border-radius: 2px;
    transition: 1s;
}
/* Действия при отводе мыши с кнопок */
.btnAbout:not(:hover), .btnContact:not(:hover), .btnCatalog:not(:hover), .btnBlog:not(:hover){
    transition: 1s;
}
/* Кнопка регистрации */
.btnSignin {
    width:20%;
    height: 34px;
    border: 2px solid grey;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
